.container {
  display: flex;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* form {
  background-color: #fff;
  padding: 40px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #666;
  gap: 10px;
} */

.imageStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.imageStyle img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}

.header-style {
  color: #007fff;
  font-size: 25px;
  font-weight: 600;
  margin-top: 5px;
  text-align: center;

  font-family: sans-serif;
}

.image-text {
  margin-top: 30px;
  position: absolute;
  font-size: 23px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.input-style {
  width: 450px !important;
  padding: 15px !important;
  position: relative;
}

label {
  font-size: 11px;
}

.submit-button-style {
  width: 450px !important;
  font-weight: 700 !important;
  padding: 15px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(136, 168, 215);
}

.side-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  background-color: #2d545e;
  /* background-color: white; */
}

.or-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.or-line::before,
.or-line::after {
  content: '';
  flex-grow: 1;
  background-color: #ccc;
  height: 1px;
  margin: 0 10px;
}

.or-line-text {
  color: black;
  font-size: 13px;
  font-weight: bold;
}

.error-message-text {
  font-size: 14px;
  margin-top: 10px;
}

.show-password-btn {
  border: none;
  border-radius: 3px;
  margin-top: 4px;
  font-size: 13px;
}
.password-input-box {
  display: flex;
}

.show-password-btn {
  border: none;
  margin-top: 1px;
  background-color: #4caf50;
  cursor: pointer;
  background-color: black;
  transition: background-color 0.3s ease;
}

.show-password-btn.active {
  color: #fff;
  background-color: #f2f2f2;
}

.tick-button-div {
  font-size: 13px;
  margin-bottom: 10px;
}
.carsons-login-p {
  font-size: 15px;
  padding: 0;
  font-weight: 500;
  margin: 0;
  color: black;
}
.tick-icon {
  color: #4caf50;
  margin-top: 3px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .form-container,
  .side-div {
    width: 100%;
  }
}
